 body {
      font-family: Arial, sans-serif;
      background-image:url(https://media-cdn.tripadvisor.com/media/photo-p/27/c8/b7/e2/remedios-restaurante.jpg);
      margin: 0;
      padding: 20px;
      color: #333;
    }

    header {
      background-color: #0e240f;
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: 8px;
    }

    main {
      max-width: 600px;
      margin: 40px auto;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #142c01;
      margin-top: 30px;
    }

    p {
      line-height: 1.6;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 20px;
    }

    label {
      font-weight: bold;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    button {
      background-color: #214616;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #42992c;
    }